/* Breakpoints
-------------------------------------------------- */

// all mobile
// no columns
$mq-mobile-min: 320px;
$mq-mobile-max: 719px;

// desktop
// column structure
// adaptive switch
$mq-desktop: 720px;
$mq-desktop-max: 1024px;

// desktop large
// responsive changes
// and graceful improvements
$mq-large: 1025px;
$mq-large-max: 1280px;

// desktop extra
$mq-extra: 1281px;
$mq-extra-max: 1440px;

// desktop super
$mq-super: 1441px;
$mq-super-max: 2560px;

/* /Breakpoints
-------------------------------------------------- */

/* Export
-------------------------------------------------- */

/* /Export
-------------------------------------------------- */
