# ------------------------------------------------------------------------------
# OS
.DS_Store

# ------------------------------------------------------------------------------
# Dependencies

/node_modules

# ------------------------------------------------------------------------------
# Build artefacts

/build
.next

# ------------------------------------------------------------------------------
# Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ------------------------------------------------------------------------------
# IDE

.idea
